<template>
	<div id="app">
		<app-toolbar></app-toolbar>
		<router-view></router-view>
	</div>
</template>

<script>
import toolbar from "./components/toolbar.vue"
export default {
	name: 'app',

	components: {
		'app-toolbar': toolbar
	}

}
</script>

<style>

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	margin-top: 60px;
}

input:focus, select:focus, button:focus {
	outline: none;
}

button {
	display: block;
    padding: .5em 1em;
    border: 1px outset #2c3e50;
    border-radius: .5em;
    background: #d3d3d3;
    color: #2c3e50;
}

button:hover {
	color: white;
	background: #2c3e50;
	cursor: pointer;
	border: 1px inset #2c3e50;
	color: white;
}

</style>
