<template>
    <div class="add-movie-panel">
        <div class="heading">Add New Movie</div>
            <form class="grid" v-on:submit.prevent="createMovie">
                <label class="label" for="title">Movie Title:</label>
                <input type="text" id="title" name="title" v-model="name" required>
                <label class="label" for="cost">Movie Cost:</label>
                <input type="number" id="cost" name="cost" min="0" step="0.01" v-model="cost" required>
                <label class="label" for="price">Selling Price:</label>
                <input type="number" id="price" min="0" step="0.01" v-model="price" required>
                <label class="label" for="genre">Genre:</label>
                <select name="genre" id="genre" v-model="genre" required>
                    <option value="Animated">Animated</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Crime">Crime</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Historical">Historical</option>
                    <option value="Historical Fiction">Historical Fiction</option>
                    <option value="Horror">Horror</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Romance">Romance</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                </select>
                <label class="label" for="rating">Rating (1-5 Stars):</label>
                <input type="number" id="rating" min="1" max="5" step="1" v-model="rating" required>
                <label class="label" for="stock">Number of copies</label>
                <input type="number" name="stock" id="stock" min=0 step="1" v-model="stock" required>
                <button id="submit">Submit</button>
            </form>
    </div>
</template>

<script>
import MovieService from '../MovieService.js';
export default {
    name: 'AddMovie',
	data() {
		return {
			name: '',
			cost: 0,
			price: 0,
			genre: '',
            rating: 1,
            stock: 0

		}
	},

	methods: {
		async createMovie() {
            await MovieService.insertMovie( this.name, this.cost, this.price, this.genre, this.rating, this.stock );
            alert( 'Added' + ' ' + this.name );
			this.name = '';
			this.cost = 0;
			this.price = 0;
			this.genre = '';
            this.rating = 1;
            this.stock = 0;
        }
	}
}
</script>

<style scoped>
.add-movie-panel {
    min-width: 30em;
    padding: 1.5em 3em;
    border: 1px solid;
    border-color: #e0dede;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.5);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
}

.heading {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-align: center;
    text-decoration: underline;
}

.label {
    grid-column-start: 1;
}

#submit {
    grid-column-start: 2;
}

label {
    text-align: right;
    margin-right: 0.25em;
}

input, select {
    margin-bottom: 0.25em;
}


</style>


