<template>
    <div class="movie-container">
        <div class="movie">
            <h2 class="header">Edit Movie Details</h2>
            <form class="grid" v-on:submit.prevent="updateMovie">
                <label class="label" for="title">Movie Title:</label>
                <input type="text" id="title" name="title" v-model="movie.name" required>
                <label class="label" for="cost">Movie Cost:</label>
                <input type="number" id="cost" name="cost" min="0" step="0.01" v-model="movie.cost" required>
                <label class="label" for="price">Selling Price:</label>
                <input type="number" id="price" min="0" step="0.01" v-model="movie.price" required>
                <label class="label" for="genre">Genre:</label>
                <select name="genre" id="genre" v-model="movie.genre" required>
                    <option value="Animated">Animated</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Crime">Crime</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Historical">Historical</option>
                    <option value="Historical Fiction">Historical Fiction</option>
                    <option value="Horror">Horror</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Romance">Romance</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                </select>
                <label class="label" for="rating">Rating (1-5 Stars):</label>
                <input type="number" id="rating" min="1" max="5" step="1" v-model="movie.rating" required>
                <label class="label" for="stock">Copies in stock</label>
                <input type="number" name="stock" id="stock" min=0 step="1" v-model="movie.stock" required>
                <button id="submit">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
import MovieService from '../MovieService.js';

export default {
	name: 'EditMovie',

	components: {
	},

	data() {
		return {
            movie: {},
            movieId: this.$route.params.id
		}
	},

	async created() {
		try {
            this.movie = await MovieService.getMovieById( this.movieId );
		} catch ( err ) {
			this.error = err.message;
		}
    },

	computed: {
		filteredMovies() {
            return this.movies.filter( ( movie ) => {
                return movie.name.toLowerCase().match( this.search.toLowerCase() );
            } );
        }
	},

	methods: {
        async updateMovie() {
            await MovieService.updateMovie( this.movieId, this.movie );
            alert( 'movie updated' );
        }
	}

}

</script>

<style scoped>
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
}

.label {
    grid-column-start: 1;
}

.header {
    text-align: center;
}

#submit {
    grid-column-start: 2;
}

label {
    text-align: right;
    margin-right: 0.25em;
}

input, select {
    margin-bottom: 0.25em;
}

</style>
