<template>
	<div class="container">
		<p class="error" v-if="error">{{ error }}</p>
		<h2>Movies List</h2>
		<input id="search-bar" type="text" v-model="search" placeholder="search movies by title" />
		<div class="movies-container">
			<table>
				<tr>
					<th>Title</th>
					<th>Genre</th>
					<th>Rating (out of 5 stars)</th>
					<th>Copies in stock</th>
					<th>Cost</th>
					<th>Price</th>
					<th>Delete</th>
				</tr>
				<tr v-for="movie in filteredMovies"
						v-bind:item="movie"
						v-bind:key="movie._id">
					<td><router-link class="movie-name" v-bind:to="'/edit-movie/' + movie._id">{{ movie.name }}</router-link></td>
					<td>{{ movie.genre }}</td>
					<td>{{ movie.rating }}</td>
					<td>{{ movie.stock }}</td>
					<td>${{ movie.cost }}</td>
					<td>${{ movie.price }}</td>
					<td class="delete-button" v-on:click="deleteMovie( movie._id, movie.name )">&#10060;</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
import MovieService from '../MovieService.js';

export default {
	name: 'MovieComponent',

	data() {
		return {
			movies: [],
			error: '',
			search: "",
			name: '',
			cost: 0,
			price: 0,
			genre: '',
			rating: 1,
			stock: 0
		}
	},

	async created() {
		try {
			this.movies = await MovieService.getMovies();
		} catch ( err ) {
			this.error = err.message;
		}
	},

	computed: {
		filteredMovies() {
            return this.movies.filter( ( movie ) => {
                return movie.name.toLowerCase().match( this.search.toLowerCase() );
            } );
		}
	},

	methods: {
		async deleteMovie( id, name ) {
			if ( !confirm( 'Are you sure you want to delete the listing for ' + name + "?" )){
				return;
			}
			await MovieService.deleteMovie( id );
			this.movies = await MovieService.getMovies();
		}
	}
}

</script>

<style scoped>

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movies-container {
	width: 100%;
}

.price {
	margin-top: 0.5em;
}

.delete-button {
	text-align: center;
}

.delete-button:hover {
	cursor: pointer;
}

#search-bar {
	width: 100%;
	border: 1px solid #d2d2d2;
    color: #aaa9a9;
    background-color: #fff;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    border-color: #a9a9a9;
    color: #aaa9a9;
    font-weight: 600;
    border-radius: 0.5em;
}

table {
	width: 100%;
	border: 1px solid lightgray;
	margin: 0.5em auto;
    border-radius: 0.5em;
	padding: 0.5em;
}

tr:nth-of-type(odd){
	background-color: #f6f6f6;
}

</style>
