<template>
    <div  class="container">
        <div id="left-panel">
            <div class="movies-list" >
                <h4>Click any movie to add it to the sale</h4>
                <input id="search-bar" type="text" v-model="search" placeholder="search movies by title" />
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                    <tr class='link' v-for="movie in filteredMovies"
                            v-bind:item="movie"
                            v-bind:key="movie._id"
                            v-on:click="addMovieToSale( movie )">
                        <td>{{ movie.name }}</td>
                        <td>${{ movie.price }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="right-panel" class="panel">
            <button v-on:click="clearSale">Clear Sale</button>
            <div id="sale-panel">
                <table class="sale-table">
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                    <tr v-for="( salemovie, index) in saleMovies"
                            v-bind:item="salemovie"
                            v-bind:key="`${ index }-${ salemovie._id}`"
                            class="sale-menu">
                        <td>{{ salemovie.name }}</td>
                        <td>{{ salemovie.price }}</td>
                        <td class="delete-button link" v-on:click="removeMovieFromSale( salemovie )">&#10060;</td>
                    </tr>
                </table>
            </div>
            <div class="review-panel">
                <div>Subtotal: {{ subTotal }}</div>
                <div>Tax (13% HST): {{ tax }}</div>
                <div class="total">Total: {{ total }}</div>
            </div>
            <div class="payment-panel">
                <input type="checkbox" name="cash" v-model="cashChecked">Cash
                <input type="number" name="cash-paid" v-if="cashChecked" v-model="cashPaid" min=0 step=0.01>
                <br>
                <input type="checkbox" name="debit" v-model="debitChecked">Debit
                <input type="number" name="debit-paid" v-if="debitChecked" v-model="debitPaid" min=0 step=0.01>
                <br>
                <input type="checkbox" name="credit" v-model="creditChecked">Credit
                <input type="number" name="credit-paid" v-if="creditChecked" v-model="creditPaid" min=0 step=0.01>
            </div>
            <button v-on:click="printReceipt">Print Receipt</button>
        </div>
    </div>
</template>

<script>
import MovieService from '../MovieService.js';

export default {
    name: "SalesComponent",

    data() {
        return {
            showList: false,
            movies: [],
            search: "",
            saleMovies: [],
            taxRate: 0.13,
            cashChecked: false,
            debitChecked: false,
            creditChecked: false,
            cashPaid: 0,
            debitPaid: 0,
            creditPaid: 0
        }
    },

    async created() {
		try {
			this.movies = await MovieService.getMovies();
		} catch ( err ) {
			this.error = err.message;
		}
    },
    
    computed: {
		filteredMovies() {
            return this.movies.filter( ( movie ) => {
                return movie.name.toLowerCase().match( this.search.toLowerCase() );
            } );
        },
        
        subTotal(){
            var subTotal = 0;
            this.saleMovies.forEach( movie => {
                subTotal = subTotal + movie.price;
            });
            return parseFloat(Math.round( subTotal * 100 ) / 100 ).toFixed(2);
        },

        tax(){
            var tax = 0;
            tax = this.subTotal * this.taxRate;
            return parseFloat(Math.round( tax * 100 ) / 100 ).toFixed(2);
        },

        total(){
            return ( Number( this.subTotal ) + Number( this.tax ) ).toFixed(2);
        }
    },
    
    methods: {
        addMovieToSale( movie ){
            this.saleMovies.push( movie  );
        },

        removeMovieFromSale( salemovie ){
            var index = this.saleMovies.indexOf( salemovie );
            if( index > -1 ){
                this.saleMovies.splice( index, 1 );
            }
        },

        clearSale(){
            this.saleMovies.splice( 0, this.saleMovies.length );
        },

        printReceipt(){
            const saleContent = document.getElementById( 'sale-panel' ).innerHTML;
            const mywindow = window.open( '', 'Print', 'height=600, width=800' );
            mywindow.document.write( '<html><head><title>Receipt</title></head><body>' );
            mywindow.document.write( '<h2>Movie Store</h2>');
            mywindow.document.write( '<h3>Date: ' + this.formatDate( new Date() ) + '</h3>');
            mywindow.document.write( saleContent );
            mywindow.document.write( '<h3>Payment Type:</h3>' );
            if( this.cashChecked ){
                mywindow.document.write( '<div>Cash $' + this.cashPaid + '</div>' );
            }
            if( this.debitChecked ){
                mywindow.document.write( '<div>Debit $' + this.debitPaid + '</div>' );
            }
            if( this.creditChecked ){
                mywindow.document.write( '<div>Credit $' + this.creditPaid + '</div>' );
            }
            mywindow.document.write( '</body></html>' );
            mywindow.document.close();
            mywindow.focus()
            mywindow.print();
            mywindow.close();
            this.clearSale();
            this.cashChecked = false,
            this.debitChecked = false,
            this.creditChecked = false,
            this.cashPaid = 0,
            this.debitPaid = 0,
            this.creditPaid = 0
            return true;
        },

        formatDate( date ) {
            const monthNames = [
                "January", "February", "March",
                "April", "May", "June", "July",
                "August", "September", "October",
                "November", "December"
            ];
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }
    }

}
</script>

<style scoped>

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1% 20% 70% 1%;
}

.show-list {
    margin: 0.25em auto;
    width: 100%
}

.link {
    cursor: pointer;
}

#search-bar {
	width: 100%;
	border: 1px solid #d2d2d2;
    color: #aaa9a9;
    background-color: #fff;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    border-color: #a9a9a9;
    color: #aaa9a9;
    font-weight: 600;
    border-radius: 0.5em;
}

#left-panel {
    grid-column-start: 2;
    grid-column-end: 3;
}

#right-panel {
    grid-column-start: 3;
    grid-column-end: 4;
}

.panel {
    width: 80%;
    display: block;
    padding: 1.5em 3em;
    border: 1px solid;
    border-color: #e0dede;
    margin: 1em auto;
    -webkit-box-shadow: 0 6px 7px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 6px 7px 0 rgba(0,0,0,.5);
    box-shadow: 0 6px 7px 0 rgba(0,0,0,.5);
}

.total {
    font-weight: bold;
}

.review-panel {
    text-align: right;
}

.sale-table{
    margin: 1em 0em;
}

.delete-button {
	text-align: center;
}

table {
	width: 100%;
	border: 1px solid lightgray;
	margin: 0.5em auto;
    border-radius: 0.5em;
	padding: 0.5em;
}

tr:nth-of-type(odd){
	background-color: #f6f6f6;
}


</style>


